ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: inline;
}
a:link,a:active{
    text-decoration: none;
    display: block;
    background-color: pink;
    color: black;
    width: 80px;
    text-align: center;
}
a:visited{
    color: wheat;
}
a:hover{
    background-color: bisque;
}
