.head{
    width: auto;
    height: 40px;
    background-color: #333;
    position: relative;
}
.warp{
    width: 1226px;
    margin: 0 auto;
}
.head li{
    float: left;
    line-height: 9px;
    list-style: none;
    margin: 0 2px;
}
.head a{
    font-size: 12px;
    color: #b0b0b0;
    text-decoration: none;
}
.head span{
    margin: 3px;
}
.head_left{
    float: left;
}
.head_right{
    float: right;
    position: absolute;
    right: 350px;

    margin-right: 20px;
}
.cart{
    width: 120px;
    height: 40px;
    background-color: gray;
    margin-left: 2px;
    position: absolute;
    top: 0;
    right: -150px;
    text-align: center;
}
.cart a{
    line-height: 40px;
    /*将购物车文本向下移动*/
}
.cart_list{
    width:300px;
    height: 0;
    background-color: white;
    float: right;
    position: absolute;
    top: 40px;
    right:-1px;
    box-shadow: 0 1px 1px 1px #b0b0b0;
    transition: .3s;
    z-index: 999;
    overflow: hidden;

}
.DownLode_list{
    width: 120px;
    height: 0;
    background-color: white;
    overflow: hidden;
    position: absolute;
    top: 40px;
    right:680px;
    box-shadow: 0 1px 1px 1px #b0b0b0;
    transition: .3s;
    z-index: 999;
}
.head a:hover{
    color: darkgray;
}
.cart:hover{
    background-color: white;
}
.cart:hover a{
    color: orangered;
}
.QR_code{
    width: auto;
    height: 20px;
}
.arrow{
    width: 0;
    height: 0;
    border-bottom:10px solid #ffffff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: 0;
    right: 730px;
    display: none;
}
.cart:hover .cart_list{
    height:120px;
}
.QR_code:hover .DownLode_list{
    height: 135px;
}
.QR_code:hover .arrow{
    display: block;
}




